#ignore all kind of files
/*
#except files
!*.py
!*.ipynb
!*.gitignore
!*.txt
!*.png
!*.jpg
!*.jpeg
!keypoint_labels.csv

!/aruco/
!/core/
!/painted_markers/

!/kornia_dev/
/kornia_dev/*
!/kornia_dev/*.py
!/kornia_dev/*.ipynb
!/kornia_dev/*.jpg
!/kornia_dev/*.jpeg
!/kornia_dev/*.png
!/kornia_dev/*.pdf
!/kornia_dev/*.svg

!/kornia_dev/__pycache__/
/kornia_dev/__pycache__/*
!/kornia_dev/__pycache__/*.pyc

!/kornia_dev/ref_data/
/kornia_dev/ref_data/*

!/kornia_dev/ref_data/no_contour/
/kornia_dev/ref_data/no_contour/*
/kornia_dev/ref_data/no_contour/*.npy
!/kornia_dev/ref_data/no_contour/*.png
!/kornia_dev/ref_data/no_contour/*.jpg

!/kornia_dev/ref_data/no_contour/particle_data/
/kornia_dev/ref_data/no_contour/particle_data/*

!/kornia_dev/ref_data/no_contour/particle_data/endpoint_intensities_to_polar/
/kornia_dev/ref_data/no_contour/particle_data/endpoint_intensities_to_polar/*
!/kornia_dev/ref_data/no_contour/particle_data/endpoint_intensities_to_polar/*.npy

!/kornia_dev/ref_data/no_contour/particle_data/endpoints_to_polar/
/kornia_dev/ref_data/no_contour/particle_data/endpoints_to_polar/*
!/kornia_dev/ref_data/no_contour/particle_data/endpoints_to_polar/*.npy

!/kornia_dev/ref_data/no_contour/particle_data/line_intensities_to_polar/
/kornia_dev/ref_data/no_contour/particle_data/line_intensities_to_polar/*
!/kornia_dev/ref_data/no_contour/particle_data/line_intensities_to_polar/*.npy

!/kornia_dev/ref_data/no_contour/particle_data/use_canny/
/kornia_dev/ref_data/no_contour/particle_data/use_canny/*
!/kornia_dev/ref_data/no_contour/particle_data/use_canny/*.npy

!/kornia_dev/ref_data/no_contour/particle_data/use_canny/
/kornia_dev/ref_data/no_contour/particle_data/use_canny/*
!/kornia_dev/ref_data/no_contour/particle_data/use_canny/*.npy

!/kornia_dev/ref_data/no_contour/particle_data/use_endpoint_intensities_only/
/kornia_dev/ref_data/no_contour/particle_data/use_endpoint_intensities_only/*
!/kornia_dev/ref_data/no_contour/particle_data/use_endpoint_intensities_only/*.npy

!/kornia_dev/ref_data/no_contour/particle_data/use_line_intensities_only/
/kornia_dev/ref_data/no_contour/particle_data/use_line_intensities_only/*
!/kornia_dev/ref_data/no_contour/particle_data/use_line_intensities_only/*.npy

!/kornia_dev/ref_data/no_contour/video_recordings/
/kornia_dev/ref_data/no_contour/video_recordings/*

!/kornia_dev/ref_data/no_contour/video_recordings/endpoint_intensities_to_polar/
/kornia_dev/ref_data/no_contour/video_recordings/endpoint_intensities_to_polar/*

!/kornia_dev/ref_data/no_contour/video_recordings/endpoints_to_polar/
/kornia_dev/ref_data/no_contour/video_recordings/endpoints_to_polar/*

!/kornia_dev/ref_data/no_contour/video_recordings/line_intensities_to_polar/
/kornia_dev/ref_data/no_contour/video_recordings/line_intensities_to_polar/*

!/kornia_dev/ref_data/no_contour/video_recordings/use_canny/
/kornia_dev/ref_data/no_contour/video_recordings/use_canny/*

!/kornia_dev/ref_data/no_contour/video_recordings/use_canny/
/kornia_dev/ref_data/no_contour/video_recordings/use_canny/*

!/kornia_dev/ref_data/no_contour/video_recordings/use_endpoint_intensities_only/
/kornia_dev/ref_data/no_contour/video_recordings/use_endpoint_intensities_only/*

!/kornia_dev/ref_data/no_contour/video_recordings/use_line_intensities_only/
/kornia_dev/ref_data/no_contour/video_recordings/use_line_intensities_only/*

!/kornia_dev/ref_data/contour/
/kornia_dev/ref_data/contour/*
!/kornia_dev/ref_data/contour/*.npy

!/kornia_dev/ref_data/contour/particle_data/
/kornia_dev/ref_data/contour/particle_data/*

!/kornia_dev/ref_data/contour/particle_data/endpoint_intensities_to_polar/
/kornia_dev/ref_data/contour/particle_data/endpoint_intensities_to_polar/*
!/kornia_dev/ref_data/contour/particle_data/endpoint_intensities_to_polar/*.npy

!/kornia_dev/ref_data/contour/particle_data/endpoints_to_polar/
/kornia_dev/ref_data/contour/particle_data/endpoints_to_polar/*
!/kornia_dev/ref_data/contour/particle_data/endpoints_to_polar/*.npy

!/kornia_dev/ref_data/contour/particle_data/line_intensities_to_polar/
/kornia_dev/ref_data/contour/particle_data/line_intensities_to_polar/*
!/kornia_dev/ref_data/contour/particle_data/line_intensities_to_polar/*.npy

!/kornia_dev/ref_data/contour/particle_data/use_canny/
/kornia_dev/ref_data/contour/particle_data/use_canny/*
!/kornia_dev/ref_data/contour/particle_data/use_canny/*.npy

!/kornia_dev/ref_data/contour/particle_data/use_canny/
/kornia_dev/ref_data/contour/particle_data/use_canny/*
!/kornia_dev/ref_data/contour/particle_data/use_canny/*.npy

!/kornia_dev/ref_data/contour/particle_data/use_endpoint_intensities_only/
/kornia_dev/ref_data/contour/particle_data/use_endpoint_intensities_only/*
!/kornia_dev/ref_data/contour/particle_data/use_endpoint_intensities_only/*.npy

!/kornia_dev/ref_data/contour/particle_data/use_line_intensities_only/
/kornia_dev/ref_data/contour/particle_data/use_line_intensities_only/*
!/kornia_dev/ref_data/contour/particle_data/use_line_intensities_only/*.npy

!/kornia_dev/ref_data/contour/video_recordings/
/kornia_dev/ref_data/contour/video_recordings/*

!/kornia_dev/ref_data/contour/video_recordings/endpoint_intensities_to_polar/
/kornia_dev/ref_data/contour/video_recordings/endpoint_intensities_to_polar/*

!/kornia_dev/ref_data/contour/video_recordings/endpoints_to_polar/
/kornia_dev/ref_data/contour/video_recordings/endpoints_to_polar/*

!/kornia_dev/ref_data/contour/video_recordings/line_intensities_to_polar/
/kornia_dev/ref_data/contour/video_recordings/line_intensities_to_polar/*

!/kornia_dev/ref_data/contour/video_recordings/use_canny/
/kornia_dev/ref_data/contour/video_recordings/use_canny/*

!/kornia_dev/ref_data/contour/video_recordings/use_canny/
/kornia_dev/ref_data/contour/video_recordings/use_canny/*

!/kornia_dev/ref_data/contour/video_recordings/use_endpoint_intensities_only/
/kornia_dev/ref_data/contour/video_recordings/use_endpoint_intensities_only/*

!/kornia_dev/ref_data/contour/video_recordings/use_line_intensities_only/
/kornia_dev/ref_data/contour/video_recordings/use_line_intensities_only/*

!/kornia_dev/fei_ref_data/
/kornia_dev/fei_ref_data/*.mp4
